<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wrath.client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".user.ProfilePage"></activity>
        <activity android:name=".user.event.CompetitionStatsRecyclerViewAdapter" />
        <activity android:name=".user.event.EventStatsPage" />
        <activity android:name=".user.event.CompetitonRecyclerViewAdapter" />
        <activity android:name=".user.event.EventFormPage2" />
        <activity android:name=".user.event.EventFormPage" />
        <activity android:name=".user.event.EventsListPage" />
        <activity android:name=".user.event.EventRecyclerViewAdapter" />
        <activity android:name=".security.SecurityRequestPage" />
        <activity android:name=".security.SecurityRecyclerViewAdapter" />
        <activity android:name=".common.BaseNav" />
        <activity android:name=".user.forum.IndividualTopic" />
        <activity android:name=".user.forum.ForumPage" />
        <activity android:name=".register.ResidentRegister" />
        <activity
            android:name=".user.Leadpage"
            android:label="Home" />
        <activity android:name=".register.builder.RegisterBuilderStep2" />
        <activity android:name=".register.builder.RegisterBuilder" />
        <activity android:name=".register.main.Register" />
        <activity android:name=".register.HomepageActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterStaff" />
        <activity android:name=".register.SelectCommunity" />
        <activity android:name=".security.SecurityPage" />
        <activity android:name=".user.event.EventsPage" />
        <activity android:name=".user.concierge.ConciergeRequestForm"/>
        <activity android:name=".user.concierge.ConciergeRequestsPage" />
        <activity android:name=".user.announcement.AnnouncementsPage" />
        <activity android:name=".user.announcement.AnnouncementForm" />
        <activity android:name=".user.concierge.IndividualConciergePage" />
        <activity android:name=".user.residentBook.ResidentBookPage" />
        <activity android:name=".user.chat.ChatActivity" />
        <activity android:name=".user.sport.SportsListPage" />
        <activity android:name=".user.sport.SportRequestForm" />

        <service android:name=".common.FirebaseMessageReceiver">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>